<div class="box red"></div>
<div class="box1 grey">
    <div class="left">
        <p class="m">System Name:</p>
        <p class="sn">{{systemname}}</p>
        <p class="x">Kindly get in touch with the invisilator if there are any discrepancies with the name and photograph displayed on the screen and if the photograph is not yours </p>
    </div>
    <div class="right">
        <p class="m">Candidate Name:</p>
        <p class="sn">{{name}}</p>
        <P>Subject:Mock Exam</P>
    </div>
</div>
<div class="form">
    <form >
        <fieldset>
            <div class="box2 login">LOGIN </div>
            <div class="input-box">
                <input type="text" id="username">
            </div>
            <div class="input-box">
                <input type="password" id="password">
            </div>
            <div class="submit">
                <input type="submit" id="submit" value="Sign In">
            </div>
        
        </fieldset>    
    </form>
</div>